.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4fc3f7;
  font-size: calc(10px + 2vmin);
  color: #fafafa;
}

header {
  padding: 8px 15px;
  flex: 1;
}

a {
  text-decoration: none;
  color: #fafafa;
}

body {
  flex: 3;
}

button {
  background-color: #3d5afe;
  padding: 8px 15px;
  color: #fafafa;
  border-radius: 8px;
  font-size: calc(10px + 2vmin);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #304ffe;
}

.activity-buttons {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

footer {
  font-size: calc(10px + 1vmin);
  flex: 0;
}

.external-link {
  text-decoration: underline;
}

.external-link:hover {
  color: #e0e0e0;
}
