body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4fc3f7;
  font-size: calc(10px + 2vmin);
  color: #fafafa;
  max-width: 100vw;
}

kbd {
  display: block;
  font-size: 2rem;
}

header {
  padding: 8px 15px;
  flex: 1;
}

main {
  flex: 3;
}

footer {
  flex: 0;
}

a {
  text-decoration: none;
  color: #fafafa;
}

button {
  background-color: #3d5afe;
  padding: 8px 15px;
  color: #fafafa;
  border-radius: 8px;
  font-size: calc(10px + 2vmin);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #304ffe;
}

.activity-buttons {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

footer {
  font-size: calc(10px + 1vmin);
}

.external-link {
  text-decoration: underline;
}

.external-link:hover {
  color: #e0e0e0;
}
